.header {
    /* background-color: aliceblue; */
    height: 100px;
    box-shadow: 
    0 0  0 .5px rgb(255,255,255),
    0.1em 0.1em 1em rgba(0,0,0,0.3);
}
.nav{
    display: flex;
}
.logo{
    margin-top: -75px;
}
.logo img{
    width: 250px;
    margin-left: -40px;
}
.nav ul{
    display: flex;
    margin-left: auto;
    margin-top: 40px;
}
ul li{
    padding-right: 15px;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    font-weight: 400;
    color: #444;
}
.userNameInHeader{
    color: lightseagreen;
}

@media(max-width: 768px){
    .header{
        height: 140px;
    }
    .logo{
        margin: auto;
        margin-top: -75px;
    }
    .logo img{
        margin-left: -1px;
    }
    ul{
        margin: auto;  
    }
    ul li{
        margin-top: -130px;
    }
}